*.eld
*log
.cache
.cache
.directory
.github
.local
auto-save-list
cask
dap-breakpoints
dat
ede-projects.el
elc
elpa
extension
fas
lib
mc-lists.el
modules/private
network-security.data
org-id-locations
semanticdb
smex-items
tern-port
test/.local*/
tramp
var/
yas-compiled-snippets.el
.trello
